params.cpus = 10
params.memory = 10
singularity.enabled = true

process {
    withName:REFINDEX {
        container = 'library://goita/collection/bwa.sif'
    }
    withName:QCONTROL {
        container = 'library://hud/mgnext/fastp:0.20.1'
    }
    withName:ALIGN {
        container = 'library://goita/collection/bwa.sif'
    }  
    withName:GENIDX {
        container = 'library://srohrback/containers/samtools1.12_picard3.1.1-latest'
    }
    withName:CRSEQDICT {
    	container = 'library://hud/viralflow/picard:2.27.2'
    }  
    withName:HAPCALL {
    	container = 'library://funsinaime/gatk/withlc2'
    }
    withName:PREPARE {
		container = 'library://srohrback/containers/samtools1.12_picard3.1.1-latest'
	}
    withName:CALLSNP {
		container = 'library://ymseah/default/bcftools-1.13'
	}
}


/*
 *
 */
