params.cpus = 10
params.memory = 10
singularity.enabled = false

process {
    withName:BWAINDEX {
        container = 'library://murchanp/smmip-pipeline/bwa-container'
    }
    withName:FASTP {
        container = 'library://wallaulabs/deep_virome_explorer/fastp:0.23.4'
    }
    withName:BWAMEM {
        container = 'library://murchanp/smmip-pipeline/bwa-container'
    }
    withName:BWA_TRY {
        container = 'library://murchanp/smmip-pipeline/bwa-container'
    }    
}


/*
 *     
 */